 [data-current-locale='ja'] aside ul.nextra-menu-desktop > li:has(a[href^='/en/']) {
  display: none !important;
}

[data-current-locale='en'] aside ul.nextra-menu-desktop > li:has(a[href^='/ja/']) {
  display: none !important;
}

[data-current-locale='ja'] aside ul.nextra-menu-desktop > li:has(a[href^='/ja/']) > button,
[data-current-locale='en'] aside ul.nextra-menu-desktop > li:has(a[href^='/en/']) > button {
  display: none !important;
}

[data-current-locale='ja'] aside ul.nextra-menu-desktop a:not([href='/ja/']):not([href='/ja/tags/']):not([href='/ja/categories/']),
[data-current-locale='en'] aside ul.nextra-menu-desktop a:not([href='/en/']):not([href='/en/tags/']):not([href='/en/categories/']) {
  display: none !important;
}

[data-current-locale='ja'] aside ul.nextra-menu-desktop button,
[data-current-locale='en'] aside ul.nextra-menu-desktop button {
  display: none !important;
}

[data-current-locale='ja'] aside ul.nextra-menu-desktop button + div,
[data-current-locale='en'] aside ul.nextra-menu-desktop button + div {
  height: auto !important;
  overflow: visible !important;
}

[data-current-locale='ja'] aside ul.nextra-menu-desktop button + div > div,
[data-current-locale='en'] aside ul.nextra-menu-desktop button + div > div {
  opacity: 1 !important;
}

[data-current-locale='ja'] aside ul.nextra-menu-desktop ul,
[data-current-locale='en'] aside ul.nextra-menu-desktop ul {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

[data-current-locale='ja'] aside ul.nextra-menu-desktop ul::before,
[data-current-locale='en'] aside ul.nextra-menu-desktop ul::before {
  display: none !important;
}

@media (min-width: 768px) {
  nav .header-locale-switch {
    order: 1;
  }

  nav .nextra-search {
    order: 2;
  }
}
